@tailwind base;
@tailwind components;
@tailwind utilities;

.text-discodes{
    color: #7976e7;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
img {
    pointer-events: none; 
  }
::selection {
    background: #7976e7;
    color: #fff;
}
.notfound {
  background-image: url("../../../Images/emptypfp.png");
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}